.specialists {
    width: 100%;
    background: $color5;
    padding-top: 100px;
    padding-bottom: 150px;
    @include flex(flex-start, flex-end, nowrap, column);
}

.specialists__title {
    font-family: 'roboto-medium';
    font-size: 36px;
    line-height: 54px;
    color: $color2;
    width: 450px;
    text-align: start;
}

ul.specialists__list {
    width: 450px;
    margin-top: 53px;
    font-family: 'roboto-medium';
    font-size: 16px;
    color: $color2;
    list-style-type: disc;
}

.specialists__item  {
    margin-bottom: 32px;
}

.specialists__img {
    position: absolute;
    left: 0;
    top: 3250px;
    width: 880px;
    height: 590px;
    background: url('../../img/statistica.png') center center no-repeat;
    background-size: cover;
}