section.functionsApp
    .functionsApp__title Функции приложения
    ul.functionsApp__list
        li.functionsApp__item
            .functionsApp-item__img
                .functionsApp-item__img--1
            .functionsApp-item__text Планирование графика приема лекарств
        li.functionsApp__item
            .functionsApp-item__img
                .functionsApp-item__img--2
            .functionsApp-item__text Уведомление врача об исполнении назначений 
        li.functionsApp__item.functionsApp__item--3
            .functionsApp-item__img
                .functionsApp-item__img--3
            .functionsApp-item__text Ведение дневника самочувствия
        li.functionsApp__item
            .functionsApp-item__img
                .functionsApp-item__img--4
            .functionsApp-item__text Удаленное предоставление измерений врачу 
        li.functionsApp__item
            .functionsApp-item__img
                .functionsApp-item__img--5
            .functionsApp-item__text Общение с врачами через встроенный мессенджер
        li.functionsApp__item.functionsApp__item--6
            .functionsApp-item__img
                .functionsApp-item__img--6
            .functionsApp-item__text Получение уведомлений для выполнения назначений
