section.healthDiary
    .healthDiary__img-phone
    .healthDiary-content
        .healthDiary-content__title Что такое "Дневник здоровья"?
        .healthDiary-content__list-title Дневник пациента - это удобный онлайн-сервис:
        ul.healthDiary-content__list
            li.healthDiary-content__item Вносите результаты измерений вручную или с помощью 
                                        | интегрированных приборов
            li.healthDiary-content__item Ведите персональную медицинскую карту с историей
                                        | ваших измерений
            li.healthDiary-content__item Делитесь результатами измерений со специалистами для
                                        | повышения эффективности лечения
            li.healthDiary-content__item Получайте рекомендации, созданные специально для вас
        .healthDiary__button(href='#' role='button') Оставить заявку    
    .healthDiary__img-pulse