section.opportunities
    .opportunities__title Ведите персональный дневник мониторинга здоровья
    .opportunities__content
        ul.opportunities__list
            li.opportunities-item
                .opportunities-item__num 1
                .opportunities-item__content
                    .opportunities-item__content-title Хранение данных
                    .opportunities-item__content-text Контролируйте и следите за динамикой изменения 
                        | показателей вашего здоровья. Вносите результаты измерений медицинских 
                        | показателей вручную или с помощью интегрированных приборов, храните историю 
                        | измерений и отслеживайте динамику состояния здоровья.
            li.opportunities-item
                .opportunities-item__num 2
                .opportunities-item__content
                    .opportunities-item__content-title Сообщение информации врачу
                    .opportunities-item__content-text Позвольте специалисту дистанционно следить за 
                        | вашим здоровьем. Будьте на связи со специалистом - отправляйте информацию 
                        | о своем самочувствии, обменивайтесь сообщениями и получайте рекомендации по 
                        | вашему здоровью и лечению.
            li.opportunities-item
                .opportunities-item__num 3
                .opportunities-item__content
                    .opportunities-item__content-title Напоминание о важном
                    .opportunities-item__content-text Получайте рекомендации, созданные специально для 
                        | вас. Система, персонально настроенная под ваши требования, автоматически 
                        | напомнит о необходимости выполнить рекомендации медицинского специалиста: 
                        | принять препарат или выполнить измерения.
        .opportunities__img