section.sendEmail
    .sendEmail__title Получите бесплатный доступ к "Дневнику здоровья"
    .sendEmail__text Оставьте свою электронную почту и вы узнаете о запуске данного сервиса первым!
    form.sendEmail-form
        input.sendEmail-form__input(type='email' placeholder='Ваш Email')
        input.sendEmail-form__button(type='submit' value='отправить')