section.slider
        .slider__wrapper
            .slider__item.slider__item--1 
                include ./header
                .slider-item__title Расширяем возможности предоставления качественных
                                    | медицинских услуг
                .slider-item__content "Дневник здоровья" - новый сервис для самоконтроля 
                                        | показателей состояния здоровья, разработанный
                                        | для участников программы "Мое здоровье". 
                a.slider-item__button(href='#') Узнать больше
            .slider__item.slider__item--2
                include ./header
                .slider-item__title Следить за здоровьем станет легче
                .slider-item__content Скоро вы сможете находиться на связи со своим лечащим врачем 
                                        | независимо от своего местоположения, вести дневник 
                                        | мониторинга самочувствия, получать рекомендации по плану
                                        | лечения и многое другое.
                a.slider-item__button(href='#') Узнать больше
        a.slider__control.slider__control_left.slider__control_show(href="#" role="button")
        a.slider__control.slider__control_right.slider__control_show(href="#" role="button")        