section.specialists
    .specialists__title Специалистам
    ul.specialists__list
        li.specialists__item Дистанционный контроль состояния здоровья ваших пациентов
        li.specialists__item Наблюдение за динамикой изменения основных медицинских показателей
        li.specialists__item Наличие алгоритмов автомитического анализа поступающей информации
        li.specialists__item Индивидуальная система уведомлений об изменении состтояния 
            | каждого пациента
        li.specialists__item Дополнительный сервис коммуникации, позволяющей активно вовлекать 
            | пациента в процесс профилактики, лечения и реабелитации.
    .specialists__img        